.pageTitle{
    margin-top: 1rem;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: -2px;
    font-size: 3rem;
}

.headerBackground {
    background-image: url('/img/Coast.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255); 
    border-radius: 0 0 15px 15px;
    margin-top: -3rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* optional, if you want horizontal centering too */
    text-align: center; /* fallback just in case */
  }

hr {
    background-color: rgb(230, 230, 230); 
}

.pageDescription{
    text-align: center;
    padding-bottom: 1rem;
}