
.img{
    box-shadow: 6px 6px 35px rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 5px;
  }

.imgWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.textDescription {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  font-style: italic;
  align-items: flex-start; /* Aligns items to the left */
  justify-content: flex-start; /* Aligns title and content to the bottom */
  gap: 10px;
  margin-bottom: 5px;
}


.textDescription h3 {
  margin-bottom: 0; /* Removes default margin */
}

.textDescription p {
  margin-top: auto; /* Pushes content down */

}

@media screen and (max-width: 450px) {
  .textDescription{
    flex-direction: column;
    gap: 2px;
    font-size: .7rem;
  }
}

