/* CodeWithImage.module.css */
.textWithImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ImageAboveTextContainer{
  display: flex;
  flex-direction: column;
}

.DoubleImageContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
  
.textColumnLeft {
  flex: 5.5;
  padding-top: 10px;
  font-size: .8rem;
  font-style: italic;
}

.textColumnRight {
  flex: 5.5;
  font-size: .8rem;
  font-style: italic;
}

.images {
  display: flex;
  gap: 10px; /* Space between the left and right columns */
  height: 300px; /* Or whatever fits your design */
  width: fit-content; /* Set to 80% of parent container width */
  flex: 6;
}

.imageColumnDouble {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.imageColumnSingle {
  display: flex;
  flex: 5.5;
  box-shadow: 6px 6px 35px rgba(0, 0, 0, 0.2);
}

.imageColumnDouble img {
  height: calc(50% - 5px); /* Subtract half the gap to account for spacing */
  object-fit: contain; /* Ensures images don't distort */
  border-radius: 5px;
}

.imageColumnSingle img {
  height: 100%;
  object-fit: contain; /* Fit the image without stretching */
  border-radius: 5px;
}


/* Add any additional styling as needed */
@media screen and (max-width: 450px) {
  .textWithImageContainer{
    flex-direction: column;
  }

  .textColumn{
    width: 100%;
    padding-right: 0;
  }

  .imageColumn{
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
  }
}